# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/
!*Makefile
!*README.md

# Ignore files with specific extension
old_Makefile
.vscode/
/.venv*
*.o
*.out
.pdf:Zone.Identifier
.pdf
.json